// bower:scss
// endbower


///////////////////////////////////////////////////////////////////
/// Globals and main container ////////////////////////////////////
///////////////////////////////////////////////////////////////////
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
}

.full-page {
    min-height: 100%;
    transition: all 0.4s linear;
}

.overlay {
    position: relative;
    opacity: 0;
    transition: all 0.4s linear;

    &:after {
        position: absolute;
        content: " ";
        background: rgba(172, 227, 243, .8);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    min-height: 4.25em;
    background: #6CCDE7;

    & .header-content {
        width: 80%;
        margin: 0 auto;
        text-align: right;

    }

    & .make-new-post {
        padding: .8em;
        margin-top: 0.625em;
        font-size: 1.05em;
        float: right;
        cursor: pointer;
    }
}

.container {
    width: 80%;
    margin: 2em auto;
    border: 4px solid #237D96;
    position: relative;
    overflow: scroll;
}


///////////////////////////////////////////////////////////////////
/// Detail ////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////

.detail-container {
    display: none;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 20%;
    padding: 1em;
    border: 3px solid red;
    background: #DDD;
    z-index: 2;

    & .beer-detail-info {
        width: 64.5%;
        display: inline-block;
        vertical-align: top;
        padding: 0 1em 0 .25em;

        & .detail-beer-name {
            font-weight: bold;
            font-size: 1.5em;
            padding-bottom: .5em;
            border-bottom: 2px solid #92DEF3;
        }

        & .detail-brewery {
            padding-top: .25em;
            margin-bottom: .5em;
        }
    }
    & h3 {
        padding-top: .25em;
        border-top: 2px solid #92DEF3;
    }
    & .beer-detail-image {
        display: inline-block;
        width: 35%;
        min-height: 300px;
    }

    & .remove-detail-view {
        position: absolute;
        left: 98.5%;
        top: -2%;
        height: 1.5em;
        width: 1.5em;
        line-height: 1.5em;
        border-radius: 50%;
        text-align: center;
        color: #239B47;
        background: #91F7B0;
        box-shadow: 0 0 1px 2px darken(#91F7B0, 45%);
        z-index: 3;
        cursor: pointer;
    }

}

///////////////////////////////////////////////////////////////////
/// Gallery ///////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////

.gallery-container {
    width: 100%;
    min-height: 100%;
    float: left;

    padding: 1em;
    background: darken(#EEE, 10%);
}

.thumbnail-container {
    float: left;
    margin: 0 0 1.5em 1%;
    padding: 1em .5em;
    width: 24.25%;
    min-height: 410px;
    background: #EEE;
    border: 3px solid #6CCDE7;

    & .thumb-beer-name {
        font-weight: bold;
        padding-bottom: .25em;
        border-bottom: 2px solid #92DEF3;
    } 

    & .thumb-brewery {
        padding-top: .25em;
        margin-bottom: .5em;
    }

    & .beer-thumbnail {
        width: 95%;
        padding-bottom: .25em;
        margin: 0 auto .75em;
        border-bottom: 2px solid #92DEF3;
        cursor: pointer;
    }
}

.gallery-container > .thumbnail-container:nth-of-type(4n) {
    margin-right: 0;
}

///////////////////////////////////////////////////////////////////
/// New Post //////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////

.remove-new-post {
    display: none;
    opacity: 0;
    position: absolute;
    left: 79%;
    top: 18.8%;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    border-radius: 50%;
    text-align: center;
    color: #239B47;
    background: #91F7B0;
    box-shadow: 0 0 1px 2px darken(#91F7B0, 45%);
    z-index: 3;
    cursor: pointer;
    transition: all .4s linear;
}
.new-post {
    display: none; 
    opacity: 0;
    position: absolute;
    width: 50%;
    min-width: 400px;
    left:30%;
    top:20%;
    border: 4px solid #6BEE93;
    box-shadow: 0 0 2px 3px darken(#6BEE93, 40%);
    padding: .8em;
    background: #eee;
    z-index: 2;
    transition: all .4s linear;

    & .image-upload-input {
        margin-bottom: 1.5em;
        display: block;
    }

    & .image-preview {
        width: 60%;
        height: 25em;
        margin: 1.5em auto;
        border: 2px solid #6BEE93;
        display: none;
    }

    & .image-filters {
        width: 38%;
        height: 25em;
        margin: 1.5em auto;
        border: 2px solid darken(#6BEE93, 40%);
        display: none;
        vertical-align: top;
        & ul {
            list-style: none;
        }
    }

    & .beer-name, & .brewery-name {
        width: 100%;
    }

    & .new-post-input-container {
        margin-bottom: .25em;

        & div {
            display: inline-block;
            width: 4em;
        }
    }

    & .image-upload-comment-container {
        margin-top: .5em;
    }

    & .image-upload-comment {
        width: 100%;
        height: 140px;
        display: block;
    }

    & .post-button, & .preview-image-button, & .reset-image-button {
        font-size: 1.05em;
        padding: .8em;
        float: right;
        margin: .5em 0 .5em 1em;
    } 

    & .preview-image-button, & .reset-image-button {
        display: none;
    }
}

///////////////////////////////////////////////////////////////////
/// New Post //////////////////////////////////////////////////////
//// Ratings //////////////////////////////////////////////////////

.rating, .thumb-rating, .detail-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    cursor: default;
}

.thumb-rating {
    margin-right: 0.35em;

    & > span {
        display: inline-block;
        position: relative;
    }
}

.detail-rating {
    padding-right: 1em;
    padding-bottom: 1em;


    & > span {
        font-size: 1.8em;
        display: inline-block;
        position: relative;
    }
}

.rating > span {
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:hover:before, &:hover ~ span:before {
        content: "\2605";
        position: absolute;
    }
}

.stars {
    &:before {
        content: "\2605";
        position: absolute;
    }
}

